
  <!-- header section -->
  <section class="giris" style="height: 50vh;">
    <div class="container h-100" style="width: 500px;">
      <div class="header-text">
        <h1 class="text">Zevkle Öğrenenler</h1>
        <div class="main">Herhangi bir konuda yazarların hikayelerini, düşüncelerini ve uzmanlıklarını keşfedin.</div>
        <button class="btn pb-3" href="#">hemen simdi başla</button>
      </div>
    </div>
  </section>


  <!-- trending  -->
  <section class="trending">
    <div class="trending-container">
      <div class="trend-icon">
        <i class="fa-solid fa-chart-simple"></i>
        <div style="padding-left: 8px; font-size: 20px;">Promise Trendleri</div>
      </div>

      <div class="content">

        <div class="row">
          <main id="main" class="col-md-4">
            <div class="card mb-3" style="max-width: 360px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <a class="person">
                    <div class="person-image">
                      <img src="	https://miro.medium.com/fit/c/20/20/1*RdXCTlLaFdzgnzNkA0KDNg.jpeg"
                        style="border-radius: 50%; margin-right: 10px;" alt="...">
                      <div>Kenny Kuykendall</div>
                    </div>
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="/post-single.html">
                    <h5 class="card-title">What You Probably Don’t Know About Your Pastor When He Preaches</h5>
                  </a>
                    <p class="card-text"><small class="text-muted">dec16.2022 . 3 min read</small></p>
                  </div>
                </div>
              </div>
            </div>
          </main>

          <main id="main" class="col-md-4">
            <div class="card mb-3" style="max-width: 360px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <a class="person">
                    <div class="person-image">
                      <img src="	https://miro.medium.com/fit/c/20/20/1*5D9oYBd58pyjMkV_5-zXXQ.jpeg"
                        style="border-radius: 50%; margin-right: 10px;" alt="...">
                      <div>Christopher Clemmons in Level Up Coding</div>
                    </div>
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="/post-single.html">
                      <h5 class="card-title">A tribute to the victims of the Turkey earthquake</h5>
                    </a>
                    <p class="card-text"><small class="text-muted">dec16.2022 . 3 min read</small></p>
                  </div>
                </div>
              </div>
            </div>
          </main>

          <main id="main" class="col-md-4">
            <div class="card mb-3" style="max-width: 360px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <a class="person">
                    <div class="person-image">
                      <img src="	https://miro.medium.com/fit/c/20/20/1*CJe3891yB1A1mzMdqemkdg.jpeg"
                        style="border-radius: 50%; margin-right: 10px;" alt="...">
                      <div>Natassha Selvaraj in Towards Data Science</div>
                    </div>
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="/post-single.html">
                      <h5 class="card-title">ChatGPT: Automatic expensive BS at scale</h5>
                    </a>
                    <p class="card-text"><small class="text-muted">dec16.2022 . 3 min read</small></p>
                  </div>
                </div>
              </div>
            </div>
          </main>

        </div>

        <div class="row">
          <main id="main" class="col-md-4">
            <div class="card mb-3" style="max-width: 360px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <a class="person">
                    <div class="person-image">
                      <img src="	https://miro.medium.com/fit/c/20/20/0*5UCuQBDPhqlcOcoz.jpeg"
                        style="border-radius: 50%; margin-right: 10px;" alt="...">
                      <div>Scott Belsky</div>
                    </div>
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="/post-single.html">
                      <h5 class="card-title">So You Messed Up Your New Year’s Resolution</h5>
                    </a>
                    <p class="card-text"><small class="text-muted">dec16.2022 . 3 min read</small></p>
                  </div>
                </div>
              </div>
            </div>
          </main>

          <main id="main" class="col-md-4">
            <div class="card mb-3" style="max-width: 360px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <a class="person">
                    <div class="person-image">
                      <img src="	https://miro.medium.com/fit/c/20/20/1*oTq5RWcSwzoDiuAO_OBhaw.jpeg"
                        style="border-radius: 50%; margin-right: 10px;" alt="...">
                      <div>Dr. Tom Frieden</div>
                    </div>
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="/post-single.html">
                      <h5 class="card-title">Ukraine War, 8 February 2023: ‘That Hill’ above Blahodatne</h5>
                    </a>
                    <p class="card-text"><small class="text-muted">dec16.2022 . 3 min read</small></p>
                  </div>
                </div>
              </div>
            </div>
          </main>

          <main id="main" class="col-md-4">
            <div class="card mb-3" style="max-width: 360px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <a class="person">
                    <div class="person-image">
                      <img src="https://miro.medium.com/fit/c/20/20/0*5UCuQBDPhqlcOcoz.jpeg"
                        style="border-radius: 50%; margin-right: 10px;" alt="...">
                      <div>person name</div>
                    </div>
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="/post-single.html">
                      <h5 class="card-title">Algorithms Unlocked: How They’re Shaping Our Everyday Lives</h5>
                    </a>
                    <p class="card-text"><small class="text-muted">dec16.2022 . 3 min read</small></p>
                  </div>
                </div>
              </div>
            </div>
          </main>

        </div>
      </div>
    </div>
  </section>
  <!-- trending  -->

  <!-- blog -->
  <main class="blog-page">
  <section class="blog">
    <div class="blog-container" >
      <div class="roww">
        	{{#if sessionFlash.message}}
				<div class="{{sessionFlash.type}}">
					{{sessionFlash.message}}
				</div>
        {{/if}}
          {{#each posts}}
        <div class="col-mdd-8" >
          <div class="blog-person">
            <a href="#">
              <div style="margin-left: 10px;">
                <img src="/img/blog1.jpg">
              </div>
            </a>
            <div class="person-name">
              <a href="#" style="color: black;">
                <h4>
                    {{author.firstname}} {{author.lastname}}
                </h4>
              </a>
            </div>
            <div class="blog-name">
              <a href="/posts/{{_id}}">
                <h2>{{title}}</h2>
              </a>
              <br>
              <div class="reading">
                <h3>{{generateDate date 'MM/DD/YYYY'}}</h3>
                <span style="margin-left: -9px; padding-right: 8px; padding-bottom: 10px;">.</span>
                <span style="  font-weight: 400;">9 min read</span>
              </div>
                 <div>
                  <span id="heart" class="material-symbols-outlined">favorite_border</span>
                 </div>
              <div class="blog-img">
                <img src="{{postImg}}" alt="">
              </div>
            </div>
          </div>
        </div>
            {{/each}}
      </div>
      
      {{!-- CATEGORY --}}
      {{> site-sidebar}}

    </div>
  </section>
  </main>
  <button class="to-top">
      <i class="fa-sharp fa-solid fa-chevron-up"></i>
  </button>
<script src="js/button.js"></script>
<script src="js/top-scroll.js"></script>
</body>

</html>