
  <!-- header section -->
  <section class="giris">
    <div class="container h-100" style="width: 500px;">
      <div class="header-text">
        <h1 class="text">Zevkle Öğrenenler</h1>
        <div class="main">Herhangi bir konuda yazarların hikayelerini, düşüncelerini ve uzmanlıklarını keşfedin.</div>
        <button class="btn pb-3" href="#">hemen simdi başla</button>
      </div>
    </div>
  </section>


  <!-- trending  -->
  <div class="trending">
       <div class="trend-container">
          <div class="content">
             <div class="trend-header">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <h2>Promise Trendleri</h2>
             </div>
             <div class="cards">

                <div class="cards-flex">
                  
                    <div class="card">
                         <div class="card-details">
                            <div class="card-flex">
                                 <div class="number">
                                    <span>01</span>
                                 </div>
                                   <div class="card-main">
                                      <div class="hh-y">
                                        <div class="al-bp-aw">
                                            <a href="">
                                             <div class="card-img">
                                                <img src="https://miro.medium.com/fit/c/20/20/0*7ZLgZWh2nTXrR1HM.jpeg" alt="">
                                             </div>
                                            </a>
                                            <div class="in-al">
                                            <div class="al">
                                                <a href=""><h4>Praveen Seshadri</h4></a>
                                            </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="hh">
                                        <a href="">
                                            <h2>The maze is in the mouse</h2>
                                        </a>
                                      </div>
                                      <span class="bu-b-hw">,
                                          <div class="al-bp">
                                             <span>feb 14</span>
                                             <div class="dot">
                                                <span>.</span>
                                             </div>
                                             <span class="tik">15 min read</span>
                                          </div>
                                      </span>
                                   </div>
                            </div>
                         </div>
                    </div>
                    

                    <div class="card">
                     <div class="card-details">
                        <div class="card-flex">
                             <div class="number">
                                <span>02</span>
                             </div>
                               <div class="card-main">
                                  <div class="hh-y">
                                    <div class="al-bp-aw">
                                        <a href="">
                                         <div class="card-img">
                                            <img src="https://miro.medium.com/fit/c/20/20/1*0oIJdWxqjL9Y6P0B0J6Syw.jpeg" alt="">
                                         </div>
                                        </a>
                                        <div class="in-al">
                                        <div class="al">
                                            <a href=""><h4>Tom Cooper</h4></a>
                                        </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="hh">
                                    <a href="">
                                        <h2>Ukraine War, 18 February 2023</h2>
                                    </a>
                                  </div>
                                  <span class="bu-b-hw">,
                                      <div class="al-bp">
                                         <span>feb 15</span>
                                         <div class="dot">
                                            <span>.</span>
                                         </div>
                                         <span class="tik">6 min read</span>
                                      </div>
                                  </span>
                               </div>
                        </div>
                     </div>
                </div>

                <div class="card">
                  <div class="card-details">
                     <div class="card-flex">
                          <div class="number">
                             <span>03</span>
                          </div>
                            <div class="card-main">
                               <div class="hh-y">
                                 <div class="al-bp-aw">
                                     <a href="">
                                      <div class="card-img">
                                         <img src="https://miro.medium.com/fit/c/20/20/2*vXhEWaz8APHM6GaVpcTFRQ.jpeg" alt="">
                                      </div>
                                     </a>
                                     <div class="in-al">
                                     <div class="al">
                                         <a href=""><h4>Brandon Van Der Heide</h4></a>
                                     </div>
                                     </div>
                                 </div>
                               </div>
                               <div class="hh">
                                 <a href="">
                                     <h2>There is a crack in everything</h2>
                                 </a>
                               </div>
                               <span class="bu-b-hw">,
                                   <div class="al-bp">
                                      <span>dec 16</span>
                                      <div class="dot">
                                         <span>.</span>
                                      </div>
                                      <span class="tik">10 min read</span>
                                   </div>
                               </span>
                            </div>
                     </div>
                  </div>
             </div>

             <div class="card">
               <div class="card-details">
                  <div class="card-flex">
                       <div class="number">
                          <span>04</span>
                       </div>
                         <div class="card-main">
                            <div class="hh-y">
                              <div class="al-bp-aw">
                                  <a href="">
                                   <div class="card-img">
                                      <img src="https://miro.medium.com/fit/c/20/20/1*VigrxIzP3-wH7oxoPULjrA.png" alt="">
                                   </div>
                                  </a>
                                  <div class="in-al">
                                  <div class="al">
                                      <a href=""><h4>mehmet bektaş</h4></a>
                                  </div>
                                  </div>
                              </div>
                            </div>
                            <div class="hh">
                              <a href="">
                                  <h2>Introducing the new JupyterLab Desktop!</h2>
                              </a>
                            </div>
                            <span class="bu-b-hw">,
                                <div class="al-bp">
                                   <span>feb 14</span>
                                   <div class="dot">
                                      <span>.</span>
                                   </div>
                                   <span class="tik">15 min read</span>
                                </div>
                            </span>
                         </div>
                  </div>
               </div>
          </div>

          <div class="card">
            <div class="card-details">
               <div class="card-flex">
                    <div class="number">
                       <span>05</span>
                    </div>
                      <div class="card-main">
                         <div class="hh-y">
                           <div class="al-bp-aw">
                               <a href="">
                                <div class="card-img">
                                   <img src="https://miro.medium.com/fit/c/20/20/1*-ZS052wv0Pfzojh5iaUVVg.jpeg" alt="">
                                </div>
                               </a>
                               <div class="in-al">
                               <div class="al">
                                   <a href=""><h4>Wes O'Donnell</h4></a>
                               </div>
                               </div>
                           </div>
                         </div>
                         <div class="hh">
                           <a href="">
                               <h2>The Small U.S. Weapon That’s</h2>
                           </a>
                         </div>
                         <span class="bu-b-hw">,
                             <div class="al-bp">
                                <span>feb 15</span>
                                <div class="dot">
                                   <span>.</span>
                                </div>
                                <span class="tik">3 min read</span>
                             </div>
                         </span>
                      </div>
               </div>
            </div>
       </div>

       <div class="card">
         <div class="card-details">
            <div class="card-flex">
                 <div class="number">
                    <span>06</span>
                 </div>
                   <div class="card-main">
                      <div class="hh-y">
                        <div class="al-bp-aw">
                            <a href="">
                             <div class="card-img">
                                <img src="https://miro.medium.com/fit/c/20/20/1*mDhF9X4VO0rCrJvWFatyxg.png" alt="">
                             </div>
                            </a>
                            <div class="in-al">
                            <div class="al">
                                <a href=""><h4>Michael Burnett in UX Collective</h4></a>
                            </div>
                            </div>
                        </div>
                      </div>
                      <div class="hh">
                        <a href="">
                            <h2>The age of Agile must end</h2>
                        </a>
                      </div>
                      <span class="bu-b-hw">,
                          <div class="al-bp">
                             <span>feb 12</span>
                             <div class="dot">
                                <span>.</span>
                             </div>
                             <span class="tik">8 min read</span>
                          </div>
                      </span>
                   </div>
            </div>
         </div>
    </div>

                </div>

             </div>
          </div>
       </div>
    </div>
  <!-- trending  -->

  <!-- blog -->
  <main class="blog-page">
  <section class="blog">
    <div class="blog-container" >
      <div class="roww">
        	{{#if sessionFlash.message}}
				<div class="{{sessionFlash.type}}">
					{{sessionFlash.message}}
				</div>
        {{/if}}
          {{#each posts}}
        <div class="col-mdd-8" >
          <div class="blog-person">
            <a href="#">
              <div style="margin-left: 10px;">
                <img src="/img/blog1.jpg">
              </div>
            </a>
            <div class="person-name">
              <a href="#" style="color: black;">
                <h4>
                    {{author.firstname}} {{author.lastname}}
                </h4>
              </a>
            </div>
            <div class="blog-name">
              <a href="/posts/{{_id}}">
                <h2>{{title}}</h2>
              </a>
              <br>
              <div class="reading">
                <h3>{{generateDate date 'MM/DD/YYYY'}}</h3>
                <span style="margin-left: -9px; padding-right: 8px; padding-bottom: 10px;">.</span>
                <span style="  font-weight: 400;">9 min read</span>
              </div>
                 <div>
                  <span id="heart" class="material-symbols-outlined">favorite_border</span>
                 </div>
              <div class="blog-img">
                <img src="{{postImg}}" alt="">
              </div>
            </div>
          </div>
        </div>
            {{/each}}
      </div>
      
      {{!-- CATEGORY --}}
      {{> site-sidebar}}

    </div>
  </section>
  </main>
  <button class="to-top">
      <i class="fa-sharp fa-solid fa-chevron-up"></i>
  </button>
<script src="js/button.js"></script>
<script src="js/top-scroll.js"></script>
</body>

</html>